@import "../../styles/color.scss";

.product-container {
    height: 100vh;
    .row {
        height: 100%;
        padding: 0;
    }
    .col {
        padding: 0;
    }
    .categories-item {
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 10px;
        &.active {
            color: $text-primary;
            background: $text-light;
        }
    }
    .product-menu {
        padding: 20px;
        background-color: #8a8a8a;
        color: white;
        height: 100%;
        overflow: auto;
        .menu-item {
            font-size: 16px;
            margin-bottom: 10px;
            cursor: pointer;
            width: fit-content;
            &:hover {
                text-decoration: underline;
            }
            &.active {
                text-decoration: underline;
                color: $text-blue;
            }
        }
    }
    .list-product{
        height: 100vh;
        overflow: auto;
        padding: 20px;
    }
    .product {
        width: 200px;
        height: 300px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        .img-wrapper {
            text-align: center;
            width: 100%;
            height: 230px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .name {
            font-size: 20px;
        }
        .old-price {
            text-decoration: line-through;
        }
    }
}
